### **Subject:** Import dataset from another directory in python using pandas
* **Author: Kaleem Ullah**
* **Date:** 2023-01-08
* **Email:** kaleemrao417@outlook.com

#### **Solution:**

In [5]:
import pandas as pd
df = pd.read_excel('D:\Python_Ka_Chilla_Data\PKC_2023\day_1\pandas_01_day6.xlsx')
df.head()

   Height  Weight Favourite Dish
0     5.8     101  Chicken Pulao
1     6.2      92        Biryani
2     5.9      62  Karahi Ghosht
3     5.9      95  Chicken Pulao
4     5.9      55  Chicken Pulao